@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@import 'header.css';
@import 'footer.css';
@import 'section.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font: 16px 'Nunito', sans-serif;
    color: white;
}

.menu-h {
    height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 2;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-item {
    display: flex;
}