.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 20%;
    text-align: left;
}

.shore-image {
    display: flex;
    height: 1%;
    width: 1%;
}

.shore-text {
    color: #161616;
}

.square-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #161616;
}

.mountains {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.misty {
    display: flex;
    flex-direction: column;
}